@{
    ViewData["Title"] = "Home Page";
}

<div style="align-content: center">
    <img src="~/images/pip_boy.png" width="200" alt="Vault-Tec" />
</div>


<p class="text-center brutalfont" style="font-weight: bold; font-size: 48px">
    Do you have what it takes to prepare for the apocalypse?
</p>

<div class="text-center border border-secondary">
    
    <h1 class="display-4">Project overview</h1>

    <h3>Features</h3>
    <ol>
        <li>Survival items to buy for points</li>
        <li>Challenges to earn points</li>
    </ol>
</div>
