body {
}

/* button code - http://jsfiddle.net/J8zwC/ */
.but {
    border: 2px solid #0c0;
    background-color: transparent;
    color: #0c0;
    width: 100px;
    cursor: pointer;
    animation: colorPulse 5s infinite ease-in-out;
}

.but:hover {
    background-color: #141414;
}

.info {
    border: solid #0c0 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px !important;
}

.details {
    text-decoration: underline;
    cursor: pointer;
}

.modal-text {
    white-space: pre;
}

.modal-content {
    background: #262626;
}

.modal-header {
    border-bottom: 1px solid #0c0;
}

.modal-footer {
    border-top: 1px solid #0c0;
}

.item-box {
    height: 400px !important;
    width: 240px;
    margin: 30px;
    vertical-align: bottom !important;
    border: none !important;
    color: #0c0 !important;
    font-size: 14px;
    animation: colorPulse 5s infinite ease-in-out;
}

.plusminus {
    padding-right: 10px !important;
    padding-left: 10px !important;
    cursor: pointer !important;
}

.money {
    float: right !important;
    margin-top: 12px !important;
    margin-right: 10px !important;
    font-size: 20px !important;
}

.title {
    float: left !important;
    margin-left: 10px !important;
}

.image {
    width: 50% !important;
    margin-bottom: 15px !important;
    margin-top: 10px !important;
    border: solid #0c0 2px !important;
}

.break {
    background: #090 !important;
    margin: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
