body {
}

/* button code - http://jsfiddle.net/J8zwC/ */
.but {
    border: 2px solid black;
    background-color: white;
    width: 100px;
    cursor: pointer;
}

.but:hover {
    background-color: lightgrey;
}

.info {
    border: solid black 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px !important;
}

.item-box {
    height: 240px;
    width: 240px;
    margin: 30px;
    vertical-align: middle !important;
    border: none !important;
}

.plusminus {
    padding-right: 10px !important;
    padding-left: 10px !important;
    cursor: pointer !important;
}

.money {
    float: right !important;
    margin-top: 12px !important;
    margin-right: 10px !important;
    font-size: 20px !important;
}

.title {
    float: left !important;
    margin-left: 10px !important;
}

.image {
    width: 50% !important;
    margin-bottom: 10px !important;
}
