/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.brutalfont {
    font-family: 'Black Ops One', cursive;
}

.btn-primary {	
    color: #fff;	
    background-color: #1b6ec2;	
    border-color: #1861ac;	
}	

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {	
    color: #fff;	
    background-color: #1b6ec2;	
    border-color: #1861ac;	
}	

/* Sticky footer styles	
-------------------------------------------------- */	
html {	
    font-size: 14px;	
}	
@media (min-width: 768px) {	
    html {	
        font-size: 16px;	
    }	
}	

.border-top {	
    border-top: 1px solid #e5e5e5;	
}	
.border-bottom {	
    border-bottom: 1px solid #e5e5e5;	
}	

.box-shadow {	
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);	
}	

button.accept-policy {	
    font-size: 1rem;	
    line-height: inherit;	
}

/* Sticky footer styles	
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}	
	

/*taken from https://stackoverflow.com/questions/28931791/jquery-how-to-grey-out-the-background-while-showing-the-loading-icon-over-it*/
.loader {
    z-index: 100;
    background-color: lightgreen;
    display: none;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}


/*Taken from https://codemyui.com/fallout-pip-boy-screen-in-css-and-html/*/
body {
    background-color:#000;
    margin:0;
    overflow:hidden;
    padding:0;
}

.tbloutline {
    border: solid #0c0 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px !important;
}

.inputtxt {
    color: #0c0;
    background-color: #000000;
}

.screen {
    animation:colorPulse 5s infinite ease-in-out;
    background-image:radial-gradient(#444, #111);
    box-shadow:0 0 5vmin 1vmin #000 inset;
    box-sizing:border-box;
    font-family:'Fira Mono', monospace;
    font-size:20px;
    overflow:hidden;
    padding:10vmin;
    width:100vw;
}

.screen:before {
    animation:wave 10s infinite ease-in-out;
    content:"";
    height:20vh;
    left:0;
    opacity:.5;
    position:absolute;
    right:0;
    z-index:1;
}

.screen:after {
    
    background-size:4px 4px;
    bottom:0;
    content:"";
    left:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
}

p:last-child:after {
    animation:blink 1s infinite;
    content:"_";
}

@keyframes colorPulse {
    0%, 100% {
        color:#0c0;
    }
    48%, 52% {
        color:#090;
    }
    50% {
        color:#060;
    }
}

@keyframes wave {
    0% {
        box-shadow:0 -10vh 20vh #0c0;
        top:-100vh;
    }
    48%, 52% {
        box-shadow:0 -10vh 20vh #090;
    }
    50% {
        box-shadow:0 -10vh 20vh #060;
    }
    100% {
        box-shadow:0 -10vh 20vh #0c0;
        top:200vh;
    }
}

@keyframes blink {
    50% {
        opacity:0;
    }
}
