@model IEnumerable<SurvivalPrep.DBModels.ApplicationUser>

@{
    ViewData["Title"] = "Highscores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Highscores</h1>
<partial name="DisasterLinks" />
<div class="container">
    <div class="card-body text-dark">
        <table class="table table-bordered">
            <tr class="table-header">
                <th>Position</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
            @{var current = 1; }
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayName(current.ToString())
                    </td>
                    <td>
                        <a asp-controller="User" asp-action="Details" asp-route-username="@user.UserName">
                            @Html.DisplayFor(modelItem => user.UserName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayName(user.score.ToString())
                    </td>
                </tr>
                current += 1;
            }
        </table>
    </div>
</div>
